<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>SVG sprite performance comparison</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <h1>Icons Embedded server side</h1>
  <p>This paragraph contains text above the fold and should be visible asap. <a href="/embeds.html" target="_blank">Open this page in a new window.</a></p>
  <% for(var i=0; i < icons.length; i++) { %>
    <div class="icon"><%= icons[i].svgContents %></div>
  <% } %>
</body>

</html>