<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SVG sprite performance comparison missing and embed whole sprite with js</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="iframes">
        <iframe src="lazy-embeds.html" loading="lazy" class="iframe"></iframe>
        <iframe src="lazy-images.html" loading="lazy" class="iframe"></iframe>
        <iframe src="sprite.html" loading="lazy" class="iframe"></iframe>
        <iframe src="sprite-js.html" loading="lazy" class="iframe"></iframe>
        <iframe src="embeds.html" loading="lazy" class="iframe"></iframe>
    </div>
  </body>
</html>
