<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>SVG sprite performance comparison missing and embed whole sprite with js</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="iframes">
      <div class="iframe-wrapper">
        <iframe src="lazy-embeds.html" loading="lazy" class="iframe"></iframe>
        <a href="/lazy-embeds.html" target="_blank" class="link">Open in new window</a>
      </div>
      <div class="iframe-wrapper">
        <iframe src="lazy-images.html" loading="lazy" class="iframe"></iframe>
        <a href="/lazy-images.html" target="_blank" class="link">Open in new window</a>
      </div>
      <div class="iframe-wrapper">
        <iframe src="sprite.html" loading="lazy" class="iframe"></iframe>
        <a href="/sprite.html" target="_blank" class="link">Open in new window</a>
      </div>
      <div class="iframe-wrapper">
        <iframe src="sprite-js.html" loading="lazy" class="iframe"></iframe>
        <a href="/sprite-js.html" target="_blank" class="link">Open in new window</a>
      </div>
      <div class="iframe-wrapper">
        <iframe src="embeds.html" loading="lazy" class="iframe"></iframe>
        <a href="/embeds.html" target="_blank" class="link">Open in new window</a>
      </div>
    </div>
  </body>
</html>
