<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>SVG sprite performance comparison</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <h1>SVG embeds lazy loaded via JS</h1>
  <p>This paragraph contains text above the fold and should be visible asap.</p>
  <% for(var i=0; i < icons.length; i++) { %>
    <svg class="icon" viewBox="0 0 24 24" width="24" height="24" data-url="<%= icons[i].pathName %>"></svg>
  <% } %>
</body>

</html>